body{
    font-family: Arial, sans-serif;
    background-color: #212121;
    padding: 20px;
    text-align: center;
}

h1{
    color: aliceblue;
}

form{
    margin-bottom: 15px;
}

input{
    width: 60%;
    border-radius: 6px;
    padding: 10px;
    margin-right: 7px;
    background-color: #ecebeb;
}

button[type='submit']{
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 10%;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type='submit']:hover{
    background-color: #218838;
    transition-delay: 0.2s;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}

li{
    background-color: #ecebeb;
    border-radius: 5px;
    width: 72%;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.delete{
    background-color: red;
    border: red;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add a smooth transition */
}

button.delete:hover {
    background-color: #df041a;
    transition-delay: 0.2s; /* Add a 200ms delay before the hover effect starts */
}































